.service-config-screenshot {
  background-image:url("../../assets/images/service_logon_acct_small.png");
  height: 208px;
  width: 284px;
  background-repeat:no-repeat;
  background-size:contain;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  padding-bottom: .4rem;
}
