<div class="d-flex flex-row justify-content-between">
  <div class="align-self-center">
    <div class="service-config-screenshot"></div>
  </div>
  <div class="d-flex flex-column col-7">
    <div>
      <ol class="mb-auto mt-1">
        <li>Press the <strong>Win + R</strong> keys on your keyboard, to open the Run window, then type <strong>Services.msc</strong></li>
        <li>Look for <strong>Control Center Policy Server</strong> service.</li>
        <li><strong>Right click</strong> on the service and <strong>open properties.</strong></li>
        <li>Go to <strong>Log On</strong> tab.</li>
        <li>Choose <strong>This account</strong> and input the account configured on MSSQL server.</li>
        <li>Enter <strong>password</strong> for the account.</li>
        <li>Click <strong>OK.</strong></li>
      </ol>
    </div>
  </div>
</div>
