<form [formGroup]="superUserCredForm" (ngSubmit)="formSubmit()">
  <div class="d-flex flex-column align-items-center page-layout-wrapper">
    <div class="col-12 col-xl-6 pt-5 ie-wrapper">
      <div>
        <div class="text-center">
          <div class="page-heading">Superuser Credentials</div>
        </div>
        <div class="text-center">
          <div class="page-sub-heading">
            Type your superuser password.
          </div>
        </div>

        <div class="page-content">
          <div class="d-flex flex-column align-items-center">
            <div class="form-group col-10">
              <div class="row d-flex flex-row justify-content-center align-items-center">
                <label for="username" class="col-form-label installer-form-label col-6">Username</label>
                <input type="text" class="form-control col-6" id="username" formControlName="username">
              </div>
            </div>
            <div class="form-group col-10">
              <app-password id="superUserPassword" formControlName="password"></app-password>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-bottom-nav [parentForm]="superUserCredForm"></app-bottom-nav>
</form>
