<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Header Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>
<body>


<div th:fragment="leftOpn" class="left-section col-5">
    <div class="promo-content">
        <div class="logo"><a href="#"><img src="images/nextlabs-logo.png" alt="NextLabs Logo"
                                           title="NextLabs Logo"/></a></div>
        <div class="promo-image"><img src="images/promo-001.png" alt="Control Center - Promotions"/></div>
        <div class="promo-text">
            <h2>
                <spring:message code="screen.login.welcome.msg"/>
                <br/>
                <span class="lrgtxt"><spring:message code="screen.login.page.nextlabs"/><span class="branding-color"><spring:message
                        code="screen.login.page.cc"/></span></span></h2>
            <h3>
                <spring:message code="screen.login.page.cc.msg"/>
            </h3>
        </div>
    </div>
    <div class="powered-by"><span><spring:message code="screen.login.powerd.by"/></span> <img
            src="images/dynamic-authorization-logo.png" alt="Dynamic Authorization" title="Dynamic Authorization"/>
    </div>
</div>


</body>
</html>