.upload-file-container {
  height: 100%;
  width: 100%;
  border: 2px dashed #CCCCCC;
  background-color: #FFFFFF;
  border-radius: 10px;

  &.disabled {
    background-color: #F6F6F6 !important;
    button {
      pointer-events:none;
      background-color: #F6F6F6 !important;
    }
  }
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed #CCCCCC;
  border-radius: 12px;
  padding: 5px;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

.file-item {
  list-style-type: none;
  word-break: break-all;
}

#browse_file {
  max-width: 33.333333%;
}

.selectedFileList {
  height: 8rem;
  overflow-y: auto;
  padding: 0;
}
