.info-text {
  color: #333333;
  font-size: 0.875rem;
  line-height: 1.0625;
}

.loading-spinner{
  height: 30px;
  width: 180px;
  background: url("../../assets/images/inProgress.gif") no-repeat center center;
}
