<div *ngIf="!serverStarted" class="mt-5 d-flex flex-column align-items-center">
  <div class="row loading-spinner">
  </div>
  <div class="info-text mt-2">We are setting things up for you.</div>
  <div class="info-text">This will take a few minutes.</div>
</div>

<div *ngIf="serverStarted && !isIcenetInstall()" class="mt-5">
  <a id="start-service" mat-button class="primary btn btn-block" type="submit" href="/">GO TO CONTROL CENTER</a>
</div>

<div *ngIf="serverStarted && isIcenetInstall()" class="mt-5 d-flex flex-column align-items-center">
  <div>ICENet Server installation completed.</div>
  <div>You may close this window now.</div>
</div>
