.password-help {
  background-color: #999999;
  color: #d0d0d0;
  border-radius: 3px;
  padding: 1rem;

  .heading {
    color: #FFFFFF;
  }
}

::ng-deep .popover {

  flex: 0 0 100%;
  max-width: 100%;
  .popover-body {
    background-color: #999999 !important;
    color: #d0d0d0;
    .heading {
      color: #FFFFFF;
    }
  }

  .arrow {
    visibility: hidden;
  }
}

.requirement-unmet {
  color: #FFFFFF;
}

.passwordErrorList {
  padding-left: 18px;
}
