<form [formGroup]="passwordForm">
  <div class="row d-flex flex-column align-items-center">
    <div class="form-group col-12">
      <div class="row d-flex flex-row justify-content-center align-items-center">
        <label id="passwordLabel-{{name}}" for="password-{{name}}" class="col-form-label installer-form-label col-6">Password</label>
        <div class="input-group  w-50">
          <input type="{{showPassword? 'text': 'password'}}" class="form-control" id="password-{{name}}" formControlName="installerPassword"
                 [value]="value" (input)="pushChanges()" [ngbPopover]="passwordHelpPopover" #popoverHandle="ngbPopover" placement="bottom" triggers="focusin:focusout">
          <div class="input-group-append">
            <span class="input-group-text" (click)="togglePasswordHide()">
              <i class="fa" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div
        *ngIf="passwordForm.get('installerPassword').invalid && (passwordForm.get('installerPassword').dirty || passwordForm.get('installerPassword').touched)"
        class="row installer-error">
        <div class="offset-6 col-6 error-item" id="installerPasswordLabelError-{{name}}"
             *ngIf="!passwordForm.get('installerPassword').errors.required">
          The password does not meet complexity requirements.
        </div>
      </div>
    </div>
    <div class="form-group col-12">
      <div class="row d-flex flex-row justify-content-center align-items-center">
        <label id="confirmPasswordLabel-{{name}}" for="confirmPassword-{{name}}" class="col-form-label installer-form-label col-6">Confirm
          Password</label>
        <input type="password" class="form-control col-6" id="confirmPassword-{{name}}" formControlName="confirmPassword" (input)="pushChanges()">
      </div>
      <div
        *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)"
        class="row installer-error">
        <div class="offset-6 col-6 error-item" id="confirmPasswordLabelError-{{name}}"
             *ngIf="passwordForm.get('confirmPassword').errors.passwordNotMatch">
          Confirm password does not match new password.
        </div>
      </div>
    </div>

    <ng-template #passwordHelpPopover>
      <div class="heading"><strong>Password must be:</strong></div>
      <ul class="passwordErrorList">
        <li [class.requirement-unmet]="passwordForm.get('installerPassword').errors && passwordForm.get('installerPassword').errors.passwordLength">between 10 - 128 non-whitespace characters</li>
        <li [class.requirement-unmet]="passwordForm.get('installerPassword').errors && passwordForm.get('installerPassword').errors.number">at least one number</li>
        <li [class.requirement-unmet]="passwordForm.get('installerPassword').errors && passwordForm.get('installerPassword').errors.lowerCase">one lowercase letter</li>
        <li [class.requirement-unmet]="passwordForm.get('installerPassword').errors && passwordForm.get('installerPassword').errors.upperCase">one uppercase letter</li>
        <li [class.requirement-unmet]="passwordForm.get('installerPassword').errors && passwordForm.get('installerPassword').errors.specialCharacters">one non-alphanumeric character</li>
        <li [class.requirement-unmet]="passwordForm.get('installerPassword').errors && passwordForm.get('installerPassword').errors.consecutiveCharacters">no more than two identical consecutive characters</li>
      </ul>
    </ng-template>
  </div>
</form>
