:host {
  display: block;
  width: 100%;
}

#eula_text {
  text-align: justify;
}

ol {
  counter-reset: item;
  padding-left: 0!important;
}

li {
  margin-top: 1rem;
  display: block
}

li {
  &:before {
    content: counters(item, ".") " ";
    font-weight: bold;
    counter-increment: item;
  }
  &.top-level:before {
    content: counters(item, ".") ".0 ";
    font-weight: bold;
    counter-increment: item;
  }
}

li p {
  margin-top: 1rem;
}

.alpha li:before {
  content: counter(item, lower-alpha)".";
}
