<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.pm.reset.title}">Reset Password Send Instructions View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content" id="reset">
        <div class="col-8 p-0">
            <div>
                <div class="cc-form-line show-overflow">
                    <span class="cc-form-title" th:text="#{screen.password.forgotPassword}"></span>
                </div>
            </div>
            <form method="post" id="fm1" class="fm-v clearfix">
                <input id="fm1CsrfToken" type="hidden" name="csrfToken" th:value="${@csrfProtectionService.getCsrfToken()}"/>
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                <input type="hidden" name="_eventId" value="findAccount"/>
                <div class="cc-form-line">
                    <input type="email" placeholder="E-Mail" class="required" id="username" name="username"
                           size="45" tabindex="1" required autocomplete="on"/>
                </div>
                <div class="cc-form-btn-line">
                    <input type="submit" class="submit" accesskey="s"
                           th:value="#{screen.button.submit}" tabindex="2" value="SUBMIT"/>
                    <input class="back-to-login-btn"
                           name="cancel"
                           accesskey="c"
                           th:value="#{screen.password.resetpassword.backToLogin}"
                           type="button"
                           onclick="location.href = location.href;" value="CANCEL"/>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript">
        var i = [[#{screen.welcome.button.loginwip}]];
        $('#fm1').submit(function () {
            $(':submit').attr('disabled', true);
            $(':submit').attr('value', i);
            return true;
        });

    </script>
    </div>
</main>
</body>
</html>
