<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.error.page.authdenied}">AUTHORIZATION DENIED</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="col-8 p-0">
            <div>
                <div class="cc-form-line show-overflow">
                    <span class="cc-form-title" th:text="#{screen.error.page.authdenied}">AUTHORIZATION DENIED</span>
                </div>
            </div>
            <p class="screen-message" th:text="#{screen.error.page.permissiondenied}">
                You do not have permission to view this page.
            </p>
            <a class="back-to-login-btn mt-5" th:href="@{/login}" th:text="#{screen.error.page.loginagain}">
                Back to login screen
            </a>
        </div>
    </div>
</main>
</body>
</html>


