<form [formGroup]="keyStoreTrustStoreForm" (ngSubmit)="formSubmit()">
  <div class="d-flex flex-column align-items-center page-layout-wrapper">
    <div class="col-12 col-xl-6 pt-5 ie-wrapper">
      <div>
        <div class="text-center">
          <div class="page-heading">Keystore &amp; Truststore Password</div>
        </div>
        <div class="text-center">
          <div class="page-sub-heading">
            Type Keystore and Truststore passwords.
          </div>
        </div>

        <div class="page-content">
          <div class="d-flex flex-column align-items-center">
            <div class="form-group col-12 col-lg-8">
              <div class="row d-flex flex-row justify-content-center align-items-center">
                <label class="col-form-label installer-form-label col-6"><strong>Keystore
                  Password</strong></label>
                <div class="col-6">
                  <!--                Empty div to align the column-->
                </div>
              </div>
            </div>

            <div class="form-group col-10">
              <app-password id="keyStorePassword" formControlName="keyStorePassword" [name]="'keyStore'"></app-password>
            </div>

            <div class="form-group col-12 col-lg-8 mt-5">
              <div class="row d-flex flex-row justify-content-center align-items-center">
                <label class="col-form-label installer-form-label col-6"><strong>Truststore
                  Password</strong></label>
                <div class="col-6">
                  <!--                Empty div to align the column-->
                </div>
              </div>
            </div>

            <div class="form-group col-10">
              <app-password id="trustStorePassword" formControlName="trustStorePassword"
                            [name]="'trustStore'"></app-password>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-bottom-nav [parentForm]="keyStoreTrustStoreForm"></app-bottom-nav>
</form>
